.headerWrap {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: 0.15s all linear;
}

.headerContainer {
    max-width: 1270px;
    margin: 0 auto;
}
.header {

}

.header .logoWrap {
    margin: 0 auto;
    width: fit-content;
}

.header .menuLink {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: #ffffff;
    padding: 0 4px;
    margin-right: 20px;
    text-decoration: none;
    transition: 0.15s all linear;
}

.header .menuLink:last-child {
    margin-right: 0;
}

.header .menuLink.active {
    border-bottom: 3px solid #FFE600;
}

.infoBlock {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.infoBlock .item {
    margin-left: 25px;
}

.infoBlock .item:first-child {
    margin-left: 0;
}

.infoBlock .langButtonWrap button {
    padding: 12px 16px;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    border: none;
}

.infoBlock .langButtonWrap button img {
    width: 100%;
    max-width: 30px;
}

.socialBlock {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
}

.socialBlock a + a {
    margin-left: 16px;
}

.menuButton {
    position: fixed;
    top: 25px;
    right: 30px;
}

@media (max-width: 1300px) {
    .infoBlock .item {
        margin-left: 20px;
    }
    .header .menuLink {
        margin-right: 15px;
        padding: 0 2px;
        white-space: nowrap;
    }
}


@media (max-width: 991px) {
    .headerWrap {
        background-color: #26252a !important;
    }
    .header .logoWrap {
        margin: 0;
    }
    .menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .header .menuLink {
        font-size: 20px;
        margin: 10px 0;
    }

    .accordion {
        max-height: 400px;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .infoBlock {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .infoBlock .item {
        margin: 20px 0;
    }
}