.training {
    position: fixed;
    bottom: 185px;
    right: 30px;
    background-color: #FFE600;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    cursor: pointer;
}

.training span {
    color: #383838;
    font-size: 16px;
    line-height: 18px;
}