.footer {
    background-color: #0a0e0e;
    padding-bottom: 62px;
}

.footerContent {
    max-width: 1270px;
    margin: 0 auto;
}

.footerContent .logoWrap {
    margin: 0 auto;
    width: fit-content;
}

.footerSocial {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.socialBlock {
    margin-left: 24px;
}

.socialTitle {
    color: #BCAFAF;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}

.socialBlock a + a {
    margin-left: 16px;
}

.locationBlock {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.locationBlock .iconWrap {
    margin-right: 18px;
}

.footer .text {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
}

.copyright {
    text-align: center;
}