.item {
    position: relative;
    z-index: 1;
}

.item img {
    width: 100%;
    height: 100%;
    max-height: 100vh;
    object-fit: cover;
    object-position: center;
    filter: grayscale(100%);
    transition: 0.15s all linear;
}

.info {
    background-color: #070D0D;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    opacity: 0;
    padding: 50px 60px 45px;
    transition: 0.15s all linear;
}

.info h6 {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #ffffff;
}

.info p {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #BCAFAF;
}

.item:hover .info {
    opacity: 1;
}

.item:hover img {
    filter: grayscale(0%);
}

.barberPageWrap {
    padding-top: 205px;
    padding-bottom: 64px;
}

.barberPageWrap .imageTopWrap {
    position: relative;
}

.barberPageWrap .imageTopWrap:before {
    content: '';
    border: 3px solid #FFE600;
    width: 90%;
    height: 100%;
    display: block;
    position: absolute;
    top: -30px;
    left: 30px;
}

.barberPageWrap .imageBottomWrap {
    position: relative;
}

.barberPageWrap .imageBottomWrap img {
    position: relative;
}

.barberPageWrap .imageBottomWrap:before {
    content: '';
    border: 3px solid #FFE600;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 30px;
    left: -15px;
}

.barberPageWrap .topBlock {
    text-align: center;
}

.barberPageWrap .topBlock h6 {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #ffffff;
}

.barberPageWrap .topBlock p {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #BCAFAF;
}

.barberPageWrap .description p {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #CAC9C6;
}

.barberPageWrap .title {
    font-weight: 700;
    font-size: 48px;
    line-height: 57px;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    margin: 76px auto;
}

.barberPageWrap .middleBlock {
    margin: 109px 0 100px 0;
}

.barberPageWrap .bottomDescription {
    margin-top: 89px;
}

@media (max-width: 991px) {
    .item img {
        max-height: 100%;
    }
}